$mainColor: #e3e3e3;

.SearchEmployees {
	width: 75%;
	margin: 10% auto;
	
	.searchContainer {
		margin-bottom: 10px;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	text-transform: capitalize;
	width: 168px;

	&:hover {
		.dropbtn {
			background-color: #7b7b7b75;
		}
	}
}

.dropbtn {
	background-color: $mainColor;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 112px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content span {
	padding: 12px 16px;
	text-decoration: none;
	display: table-cell;
}

.dropdown-content span:hover {
	background-color: $mainColor;
}

.dropbtn:hover ~ .dropdown-content,
.dropdown-content:hover{
	display: block;
	cursor: pointer;
}

.show {
	display: block;
}

#sortImg {
	margin-top: 20px;
}


// Media queries
@media only screen and (max-width: 765px) {
	.dropdown-content span {
		display: block;
	}
}

@media only screen and (max-width: 440px) {
	#orderDirection {
		font-size: 10px;
	}
	.dropbtn {
		padding: 8px;
		font-size: 12px;
	}
	.dropdown-content {
		
		padding: 8px;
		font-size: 12px;
	}
}