$mainColor: #e3e3e3;
$textColor: #7b7b7b;

.searchTerm{
	display: inline-block;
	width: 100%;
	border: 3px solid $mainColor;
	padding: 13px;
	position: relative;
}

#searchIcon {
	display: inline-block;
	color: $mainColor;
	position: absolute;
	left: 2%;
}

#searchInput {
	border: none;
	width: 92%;
	color: $textColor;

	&:focus-visible {
		outline: none;
		color: black;
	}
}

@media only screen and (max-width: 770px) {
	#searchInput {
		width: 89%;
	}
	#searchIcon {
		left: 1%;
	}
}