table {
	width: 100%;
	border-collapse:separate; 
	border-spacing: 0 0.5em;
	text-align: left;

	tbody tr {
		background-color: #acacac2b;
	}

	thead tr {
		position: sticky;
		top: 0;
		background-color: white;
	}
}

tbody tr td:nth-child(-n + 2)
{
	cursor: pointer;
}

tbody tr:hover
{
	background-color: #acacac75;
}
