$maxPicHeight: 75px;
$maxPicWidth: 75px;


.img {
	display: inline-block;
	height: $maxPicHeight;
	width: $maxPicWidth;
	background-size: cover;
	background-repeat: no-repeat;
}

.secondaryInfo {
	color: #4a4a4a;
}

#listName {
	font-size: 19px;
}